/* SHARED */
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* PRODUCT SHOWCASE */
.product-showcase {
  margin-bottom: 25px;
}
.product-showcase .carousel li {
  display: none;
}
.product-showcase .carousel li.athena-selected {
  display: inline;
}
.product-showcase .image {
  position: relative;
  float: left;
  width: 68%;
  height: 330px;
  border: 1px solid #efefef;
}
.product-showcase .carousel .tab-control {
  height: 100%;
  background-image: none;
  margin: 15px;
}
.product-showcase .carousel .tab-control ul {
  padding: 0;
}
.product-showcase .carousel .tab-control .tab-list {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background-color: #efefef;
}
.product-showcase .carousel .tab-control .tab-list li {
  display: inline;
}
.product-showcase .carousel .tab-control .tab-list li.athena-selected {
  background-color: #dedede;
  font-weight: bold;
}
.product-showcase .carousel .tab-control .tab-list li a {
  margin: 0 15px;
  color: black;
  text-decoration: none;
}
.product-showcase .carousel .tab-control .tab-panels li {
  display: none;
}
.product-showcase .carousel .tab-control .tab-panels li.athena-selected {
  display: inline;
}
.product-showcase .details {
  position: relative;
  float: right;
  width: 30%;
  height: 330px;
  background-color: #efefef;
  border: 1px solid #efefef;
}
.product-showcase .details h2 {
  margin: 5px 15px;
}
.product-showcase .details p {
  margin: 15px;
  font-size: 110%;
}
.product-showcase .controls {
  position: absolute;
  right: 15px;
  bottom: 15px;
}


/* TRADITION */
.tradition {
  
}


/* TEAM */
.team {
  margin-bottom: 15px;
}


/* SOURCE */
.source {

}