/* SHARED */
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* PRODUCT SHOWCASE */
.product-showcase {
  margin-bottom: 15px;
}


/* TRADITION */
.tradition {
  
}


/* TEAM */
.team {
  margin-bottom: 15px;
}


/* SOURCE */
.source {

}